<!DOCTYPE html>
<html>

<head>
    <title>MulTVers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
</head>

<body>
    <div class="columns">
        <div class="column is-12">

            <div id="app">
                <!-- HEADER -->
                <div class="container">
                    <nav class="navbar">
                        <div class="navbar-brand">
                            <p class="title"><a :href="host">Mul[T•V]ers</a></p>
                        </div>

                        <div class="navbar-menu">
                            <div class="navbar-end">
                                <div class="navbar-item"><button class="button is-dark "><a style="color:red;" target="_blank" href="https://www.netflix.com/browse">Netflix</a></button></div>
                                <div class="navbar-item"><button class="button is-black"><a style="color: yellow;" target="_blank" href="https://app.plex.tv/desktop/#!/">Plex</a></button></div>
                                <div class="navbar-item"><button class="button is-info "><a style="color:white;" target="_blank" href="https://www.primevideo.com/region/eu/?ref_=dv_web_unknown">Prime Vidéo</a></button></div>
                                <div class="navbar-item"><button class="button is-light"><a style="color: blue;" target="_blank" href="https://www.disneyplus.com/fr-fr/select-profile">Disney +</a></button></div>
                            </div>
                        </div>
                    </nav>
                    <hr>
                </div>

                <!-- Balise du player -->
                <div id="place-player">
                    <div v-if="playerMode === 'YT'">
                        <iframe width="100%" height="700" :src="ytUrlVideo"></iframe>
                    </div>
                    <div v-else id="player"></div>
                </div>

                <div class="container">
                    <!-- TWITCH -->
                    <hr>
                    <nav class="level">
                        <div class="level-left">
                            <div v-if="!logedTW" class="level-item">
                                <button class="button is-primary is-rounded"> 
                                    <a style="color:white;" :href="twLoginUrl">Log In</a> 
                                </button>
                            </div>
                            <div class="level-item">
                                <button class="button is-link" @click="loadTwitchPlayer()">Twitch</button>
                            </div>
                            <div class="level-item">
                                <button @click="selectProg(index)" v-for="(item, index) in channels" class="tag is-medium" :class="item.isActive ? 'is-success' : '' " style="margin-left: 5px;">{{ item.name }}</button>
                            </div>
                        </div>

                        <div class="level-right">
                            <!--
                            <div class="level-item">
                                <div class="field has-addons">
                                    <div class="control">
                                        <input id="search-streamer" class="input is-rounded" type="text" placeholder="Coming soon ...">
                                    </div>
                                    <div class="control">
                                        <button class="button is-link is-light is-rounded" @click="addStreamerTochannels()">Search</button>
                                    </div>
                                </div>
                            </div>
                            -->
                            <p class="level-item"><button class="button is-info is-light is-rounded" @click="progDown()"><</button></p>
                            <p class="level-item"><button class="button is-info is-light is-rounded" @click="progUp()">></button></p>
                        </div>
                    </nav>

                    <!-- YOUTUBE -->
                    <hr>
                    <div class="level">
                        <div class="level-left">
                            <div v-if="!logedYT" class="level-item">
                                <button class="button is-primary is-rounded">
                                    <a style="color:white;" :href="ytLoginUrl">Log In</a>
                                </button>
                            </div>
                            <div class="level-item">
                                <button class="button is-danger" @click="ytApiSub()">Youtube</button>
                            </div>
                        </div>
                        <div class="level-right">
                            <!--
                            <div class="level-item">
                                <div class="field has-addons">
                                    <div class="control">
                                        <input id="search-streamer" class="input is-rounded" placeholder="Coming soon ..." type="text">
                                    </div>
                                    <div class="control">
                                        <button class="button is-danger is-light is-rounded">Search</button>
                                    </div>
                                </div>
                            </div>
                            -->
                            <p class="level-item">
                                <button class="button is-info is-light is-rounded" :disabled="!ytPagination.prevTokenIsActive" @click="ytApiSubPN(this.ytPagination.prevPageToken)"><</button>
                            </p>
                            <p class="level-item">
                                <button class="button is-info is-light is-rounded" @click="ytApiSubPN(this.ytPagination.nextPageToken)">></button>
                            </p>
                        </div>
                    </div>

                    <div class="container">
                        <div id="yt-sub" class="columns is-multiline">
                            <div v-for="element in this.ytPagination.subItems" class='column is-one-fifth'>
                                <div class='card'>
                                    <header class='card-header'>
                                        <button class='card-header-icon' @click="ytSearchVideoBySub(element.snippet.resourceId.channelId)">Voir</button>
                                    </header>
                                    <div class='card-image'>
                                        <figure class='image is-4by3'>
                                            <img :src="element.snippet.thumbnails.default.url" alt='Placeholder image'>
                                        </figure>
                                    </div>
                                    <div class='card-content'>
                                        <div class='media'>
                                            <div class='media-content'>
                                                <p class='title is-4'>{{ element.snippet.title }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-for="element in this.ytPagination.videoItems" class='column is-one-fifth'>
                                <div class='card'>
                                    <header class='card-header'>
                                        <button class='card-header-icon' @click="changeUrlVideo(element.id.videoId)">Voir</button>
                                    </header>
                                    <div class='card-image'>
                                        <figure class='image is-4by3'>
                                            <img :src="element.snippet.thumbnails.default.url" alt='Placeholder image'>
                                        </figure>
                                    </div>
                                    <div class='card-content'>
                                        <div class='media'>
                                            <div class='media-content'>
                                                <p class='title is-4'>{{ element.snippet.title }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script>
        // SETTINGS << 
        let url = window.location.href;
        var twClientId = '3tb8b7vw9i5wg4u89fb4q54n2ewgla';
        var ytClientId = '414258510687-2sr6glgkobrm6brigtn241jv8prqndas.apps.googleusercontent.com';
        var ytApiKey = 'AIzaSyB9jIFZNvFR_Dyn5wuRokxGQo-x-Wypupg';

        const {
            createApp
        } = Vue

        createApp({
            mounted() {
                // localStorage.setItem('twAccessToken', undefined);
                localStorage.setItem('ytAccessToken', undefined);

                if (url.includes('access_token') && url.includes('youtube')) {
                    let params = url.split('#');
                    let strAcctoken = params[1].split('&');
                    localStorage.setItem('ytAccessToken', strAcctoken[0].split('=')[1]);

                } else if (url.includes('access_token')) {
                    let params = url.split('#');
                    let strAcctoken = params[1].split('&');
                    localStorage.setItem('twAccessToken', strAcctoken[0].split('=')[1]);

                }

                if (localStorage.getItem('twAccessToken') != null && localStorage.getItem('twAccessToken') != 'undefined') {
                    this.logedTW = true;
                    this.loadTwitchPlayer();
                }

                if (localStorage.getItem('ytAccessToken') != null && localStorage.getItem('ytAccessToken') != 'undefined') {
                    this.logedYT = true;
                    this.ytApiSub();
                }

            },
            data() {
                return {
                    host: "https://app.yannicksf.xyz", // "http://localhost:3000"
                    currentPlayer: undefined,
                    playerMode: 'TW',
                    index: -1,
                    channels: [],
                    logedTW: false,
                    ytVideoId: '',
                    ytVideos: [],
                    logedYT: false,
                    ytPagination: {
                        prevPageToken: '',
                        prevTokenIsActive: false,
                        nextPageToken: '',
                        subItems: [],
                        videoItems: []
                    }
                }
            },
            methods: {
                // TWITCH <<
                loadTwitchPlayer() {
                    this.playerMode = 'TW';

                    setTimeout(() => {
                        this.currentPlayer = new Twitch.Embed("player", {
                            width: '100%',
                            height: 700,
                            channel: 'yannick_sf',
                            // Only needed if this page is going to be embedded on other websites
                            parent: ['localhost']
                        });
                    }, (100));

                    if (this.logedTW) {
                        this.channels = []
                        this.twApiGetUserInfos();
                    }
                },
                twApiGetUserInfos() {
                    axios.get("https://api.twitch.tv/helix/users", {
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.getItem('twAccessToken'),
                            'Client-Id': twClientId
                        }
                    }).then((response) => {

                        var userInfos = response.data.data[0]
                        axios.get("https://api.twitch.tv/helix/streams/followed?user_id=" + userInfos.id, {
                            headers: {
                                'Authorization': 'Bearer ' + localStorage.getItem('twAccessToken'),
                                'Client-Id': twClientId
                            }
                        }).then((resp) => {

                            var streamList = resp.data.data
                            for (var e in streamList) {
                                this.channels.push({
                                    'name': streamList[e].user_login,
                                    'isActive': false
                                });
                            }
                        })

                    });
                },
                addStreamerTochannels() {
                    let value = document.getElementById('search-streamer');
                    this.channels.push(value.value);
                    value.value = ''
                },
                progUp() {
                    let tmpChIndex = this.index;

                    if (this.index == this.channels.length - 1) {
                        this.index = 0;
                    } else {
                        this.index++;
                    }
                    this.currentPlayer.setChannel(this.channels[this.index].name);

                    if (this.index != -1) {
                        this.channels[this.index].isActive = true;
                    }

                    if (tmpChIndex == this.channels.length - 1) {
                        this.channels[tmpChIndex].isActive = false;
                    } else {
                        this.channels[this.index - 1].isActive = false;
                    }
                },
                progDown() {

                    let tmpChIndex = this.index;

                    if (this.index == 0) {
                        this.index = this.channels.length - 1;
                    } else {
                        this.index--;
                    }
                    this.currentPlayer.setChannel(this.channels[this.index].name);

                    if (this.index != -1) {
                        this.channels[this.index].isActive = true;
                    }

                    if (tmpChIndex == 0) {
                        this.channels[0].isActive = false;
                    } else {
                        this.channels[this.index + 1].isActive = false;
                    }

                },
                selectProg(index) {
                    if (index > -1) {
                        this.currentPlayer.setChannel(this.channels[index].name);
                        if (this.index != -1) {
                            this.channels[this.index].isActive = false;
                        }
                        this.index = index;
                        this.channels[index].isActive = true;

                    }
                },

                ytApiSub() {
                    axios.get("https://youtube.googleapis.com/youtube/v3/subscriptions?part=snippet&mine=true&key=" + ytApiKey, {
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.getItem('ytAccessToken')
                        }
                    }).then((response) => {

                        this.ytPagination.subItems = response.data.items
                        this.ytPagination.nextPageToken = response.data.nextPageToken

                        if (response.data.hasOwnProperty('prevPageToken')) {
                            this.ytPagination.prevPagetoken = response.data.prevPageToken;
                            this.ytPagination.prevTokenIsActive = true;
                        }

                    })
                },
                ytApiSubPN(pageToken) {
                    axios.get("https://youtube.googleapis.com/youtube/v3/subscriptions?part=snippet&mine=true&pageToken=" + pageToken + "&key=" + ytApiKey, {
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.getItem('ytAccessToken')
                        }
                    }).then((response) => {
                        this.ytPagination.subItems = response.data.items
                        this.ytPagination.nextPageToken = response.data.nextPageToken

                        if (response.data.hasOwnProperty('prevPageToken')) {
                            this.ytPagination.prevPageToken = response.data.prevPageToken;
                            this.ytPagination.prevTokenIsActive = true;
                        }

                    })
                },
                ytSearchVideoBySub(subChanelId) {
                    axios.get("https://youtube.googleapis.com/youtube/v3/search?part=snippet&channelId=" + subChanelId + "&order=date&maxResults=10&type=video&key=" + ytApiKey, {
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.getItem('ytAccessToken')
                        }
                    }).then((resp) => {
                        this.ytPagination.videoItems = resp.data.items;
                    })
                },
                changeUrlVideo(value) {
                    this.playerMode = 'YT';
                    this.ytVideoId = value;
                }
            },
            computed: {
                twLoginUrl() {
                    return 'https://id.twitch.tv/oauth2/authorize?client_id=' + twClientId + '&redirect_uri=' + this.host + '&scope=user:read:follows&response_type=token'
                },
                ytLoginUrl() {
                    return 'https://accounts.google.com/o/oauth2/v2/auth?client_id=' + ytClientId + '&redirect_uri=' + this.host + '&response_type=token&scope=https://www.googleapis.com/auth/youtube.readonly'
                },
                ytUrlVideo() {
                    return 'https://www.youtube.com/embed/' + this.ytVideoId
                }
            }
        }).mount('#app')
    </script>

</body>

</html>