<!DOCTYPE html>
<html>

<head>
    <title>MulTVers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
</head>

<body>
    <div class="columns">
        <div class="column is-12">

            <!-- HEADER -->
            <div class="container">
                <nav class="navbar">
                    <div class="navbar-brand">
                        <p class="title"><a href="https://app.yannicksf.xyz">Mul[T•V]ers</a></p>
                    </div>

                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <div class="navbar-item"><button class="button is-dark "><a style="color:red;" target="_blank" href="https://www.netflix.com/browse">Netflix</a></button></div>
                            <div class="navbar-item"><button class="button is-black"><a style="color: yellow;" target="_blank" href="https://app.plex.tv/desktop/#!/">Plex</a></button></div>
                            <div class="navbar-item"><button class="button is-info "><a style="color:white;" target="_blank" href="">Prime Vidéo</a></button></div>
                            <div class="navbar-item"><button class="button is-light"><a style="color: blue;" target="_blank" href="">Disney +</a></button></div>
                        </div>
                    </div>
                </nav>
                <hr>
            </div>

            <div id="app">
                <!-- Balise du player -->
                <div id="place-player">
                    <div v-if="playerMode === 'YT'">
                        <iframe width="100%" height="700" :src="ytUrlVideo"></iframe>
                    </div>
                    <div v-else id="player"></div>
                </div>

                <div class="container">
                    <!-- TWITCH -->
                    <hr>
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <button class="button is-primary is-rounded"> 
                                    <a style="color:white;" href="https://id.twitch.tv/oauth2/authorize?client_id=3tb8b7vw9i5wg4u89fb4q54n2ewgla&redirect_uri=http://localhost:3000&scope=user:read:follows&response_type=token">Log In</a> 
                                </button>
                            </div>
                            <div class="level-item">
                                <button class="button is-link" @click="loadTwitchPlayer()">Twitch</button>
                            </div>
                            <div class="level-item">
                                <span v-for="item in channels" class="tag is-medium">{{ item }}</span>
                            </div>
                            <div class="level-item">
                                <div class="field has-addons">
                                    <div class="control">
                                        <input id="search-streamer" class="input is-rounded" type="text" placeholder="">
                                    </div>
                                    <div class="control">
                                        <button class="button is-link is-light is-rounded" @click="addStreamerTochannels()">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="level-right">
                            <p class="level-item"><button class="button is-info is-light" @click="progDown()"><</button></p>
                            <p class="level-item"><button class="button is-info is-light" @click="progUp()">></button></p>
                        </div>
                    </nav>

                    <hr>
                    <div class="level">
                        <div class="level-right">
                            <div class="level-item">
                                <button class="button is-primary is-rounded">
                                    <a style="color:white;" href="https://accounts.google.com/o/oauth2/v2/auth?client_id=414258510687-2sr6glgkobrm6brigtn241jv8prqndas.apps.googleusercontent.com&redirect_uri=http://localhost:3000&response_type=token&scope=https://www.googleapis.com/auth/youtube.readonly">Log In</a>
                                </button>
                            </div>
                            <div class="level-item">
                                <button class="button is-danger" @click="ytApiSub()">Youtube</button>
                            </div>

                            <div class="level-item">
                                <div class="field has-addons">
                                    <div class="control">
                                        <input id="search-streamer" class="input is-rounded" placeholder="Coming soon ..." type="text">
                                    </div>
                                    <div class="control">
                                        <button class="button is-danger is-light is-rounded">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="yt-sub" class="columns is-multiline">
                        <div v-for="element in this.ytVideos" class='column is-one-quarter'>
                            <div class='card'>
                                <header class='card-header'>
                                    <button class='card-header-icon' @click="changeUrlVideo(element.id.videoId)">Voir</button>
                                </header>
                                <div class='card-image'>
                                    <figure class='image is-4by3'>
                                        <img :src="element.snippet.thumbnails.default.url" alt='Placeholder image'>
                                    </figure>
                                </div>
                                <div class='card-content'>
                                    <div class='media'>
                                        <div class='media-content'>
                                            <p class='title is-4'>{{ element.snippet.title }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        // SETTINGS << 
        var host = "http://localhost:3000"
        let url = window.location.href;
        var twClientId = '3tb8b7vw9i5wg4u89fb4q54n2ewgla';
        var ytClientId = '414258510687-2sr6glgkobrm6brigtn241jv8prqndas.apps.googleusercontent.com';
        var ytApiKey = 'AIzaSyB9jIFZNvFR_Dyn5wuRokxGQo-x-Wypupg';

        const {
            createApp
        } = Vue

        createApp({
            mounted() {

                if (url.includes('access_token') && url.includes('youtube')) {
                    let params = url.split('#');
                    let strAcctoken = params[1].split('&');
                    localStorage.setItem('ytAccessToken', strAcctoken[0].split('=')[1]);

                } else if (url.includes('access_token')) {
                    let params = url.split('#');
                    let strAcctoken = params[1].split('&');
                    localStorage.setItem('twAccessToken', strAcctoken[0].split('=')[1]);

                }

                if (localStorage.getItem('twAccessToken') != 'undefined') {
                    this.logedTW = true;
                }

                if (localStorage.getItem('ytAccessToken') != 'undefined') {
                    this.logedYT = true;
                }

            },
            data() {
                return {
                    currentPlayer: undefined,
                    playerMode: 'TW',
                    index: 0,
                    channels: ['yannick_sf'],
                    logedTW: false,
                    ytVideoId: '',
                    ytVideos: [],
                    logedYT: false
                }
            },
            methods: {
                // TWITCH <<
                loadTwitchPlayer() {
                    this.playerMode = 'TW';

                    setTimeout(() => {
                        this.currentPlayer = new Twitch.Embed("player", {
                            width: '100%',
                            height: 700,
                            channel: this.channels[this.index],
                            // Only needed if this page is going to be embedded on other websites
                            parent: ['localhost']
                        });
                    }, (100));



                    if (this.logedTW) {
                        this.channels = ['yannick_sf']
                        this.twApiGetUserInfos();
                    }
                },
                twApiGetUserInfos() {
                    axios.get("https://api.twitch.tv/helix/users", {
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.getItem('twAccessToken'),
                            'Client-Id': twClientId
                        }
                    }).then((response) => {

                        var userInfos = response.data.data[0]
                        axios.get("https://api.twitch.tv/helix/streams/followed?user_id=" + userInfos.id, {
                            headers: {
                                'Authorization': 'Bearer ' + localStorage.getItem('twAccessToken'),
                                'Client-Id': twClientId
                            }
                        }).then((resp) => {

                            var streamList = resp.data.data
                            for (var e in streamList) {
                                this.channels.push(streamList[e].user_login);
                            }
                        })

                    });
                },
                addStreamerTochannels() {
                    let value = document.getElementById('search-streamer');
                    this.channels.push(value.value);
                    value.value = ''
                },
                progUp() {

                    if (this.index == this.channels.length - 1) {
                        this.index = 0;
                    } else {
                        this.index++;
                    }
                    this.currentPlayer.setChannel(this.channels[this.index]);

                },
                progDown() {

                    if (this.index == 0) {
                        this.index = this.channels.length - 1;
                    } else {
                        this.index--;
                    }
                    this.currentPlayer.setChannel(this.channels[this.index]);
                },

                ytApiSub() {
                    axios.get("https://youtube.googleapis.com/youtube/v3/subscriptions?part=snippet&mine=true&key=" + ytApiKey, {
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.getItem('ytAccessToken')
                        }
                    }).then((response) => {

                        let subListChannelInfos = response.data.items
                        axios.get("https://youtube.googleapis.com/youtube/v3/search?part=snippet&channelId=" + 'UCZ5TwKZZDHXokyRuAA9iG3w' + "&type=video&key=" + ytApiKey, {
                            headers: {
                                'Authorization': 'Bearer ' + localStorage.getItem('ytAccessToken')
                            }
                        }).then((resp) => {
                            var subVideosInfos = resp.data.items;
                            for (let i in subVideosInfos) {
                                this.ytVideos.push(subVideosInfos[i]);
                            }
                        })
                    })
                },
                changeUrlVideo(value) {
                    this.playerMode = 'YT';
                    this.ytVideoId = value;
                }

            },
            computed: {
                ytUrlVideo() {
                    return 'https://www.youtube.com/embed/' + this.ytVideoId
                },
            }
        }).mount('#app')
    </script>

</body>

</html>